h2 a { text-decoration: none; }
h2 a:link { color: #000; }
h2 a:visited { color: #000; }
h2 a:hover { color: #039; }

#mBody h2 { margin-top: 0; }
#mBody p { margin-top: 0; }

.homepage p {
	margin: 0 0 0.6em 0;
	line-height: 140%;
}

#feature-content {
	padding: 6px 330px 6px 10px;
}

#feature-content p {
	line-height: 160%;
	color: #4C5C5C;
}

#feature-content h2 {
	margin: 0;
}

ul.news {
	margin: 0.5em 0 0 0;
	padding: 0;
}

.news li {
  margin: 0 0 0.7em 0;
  padding: 0;
  clear: both;
  list-style-type: none;
}
.news li a { font-weight: normal; }

.news .date {
	background: #FAF4C8;
	border-right: 1px solid #E3DE9F;
	border-bottom: 1px solid #E3DE9F;
	float: left;
	text-align: center;
	line-height: 1.1em;
	padding: 2px 1px 5px 1px;
	width: 2.2em;
	color: #A19D68;
	margin: 0 0.5em 1em 0;
}

.news .date:first-line {
	font-size: 70%;
}
