/* Mozilla Taiwan special overriding */
pre, code {
	font-family: "Lucida Console", "MingLi", "MingLiu", "Courier New", Courier, monospace;
  white-space: pre;
}

acronym {
    cursor: pointer;
}

a:hover {
	background-color: #eee;
	text-decoration: none;
}
a:visited {
	color: navy;
}

/* new logo */
#header h1 a {
		background: transparent url("http://moztw.org/images/header_logo3.png") no-repeat;
		width: 354px;
		height: 65px;
}

.article {
  font-size: 16px;
  line-height: 150%;
}
.article img {
  margin: 0.5em;
}
.article img.r {
  float: right;
}
.article img.l {
  float: left;
}

#header form #q {
	width: 130px;
}

.important101text {
    color: #FF0000;
}

.news .date {
	width: 6em;
}

/* 中文的強調樣式 */
em {
	font-style: normal;
	font-weight: bold;
}

strong.stronger {
	font-style: normal;
	font-weight: bolder;
}

strong.warning {
	font-style: normal;
	color: red;
}

strong.very-strong {
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1.1em;
}

/* 中文沒有斜體 */

pre.code .remark {
	font-style: normal;
}

address {
	font-style: normal;
}

/* microformat */

div.vcard {
	line-height: .4em;
	border: 1px solid #222;
	margin: 1em 2px 2px 2px;
	padding: .3em 2em;
	position: relative;
}
div.vcard p.fn{
	position: absolute;
	top: -1.4em; left: .6em;
	background-color: #fff;
	padding: 0 .5em;
	font-weight: normal;
}
div.vcard p {font-weight: bold;}
div.vcard a {font-weight: normal;}
.vcard-additional-info{display: none;}
.vcard .note:before {content: "" !important;}

/* 摩茲星球 */

#planet-moztw-org .key-point {
	background: #E4ECEC url(images/feature.png) no-repeat scroll right bottom;
}

#planet-moztw-org #feature-content {
	padding: 6px 380px 6px 10px;
	height: 190px;
}

#planet-moztw-org #feature-content h2 {
	height: 0; width: 150px;
	padding-top: 30px;
	background: url(images/title.png) no-repeat scroll top left;
	overflow: hidden;
}
